<h1>Organizations</h1>
<button (click)="reload()">Reload organizations</button>
<ul>
  @for(organization of organizationStore.entities(); track
  organization.organization) {
  <li>
    <h2>{{ organization.organization }}</h2>
    <ul>
      <li>
        <button (click)="selectOrganization(organization)">
          Select {{ organization.organization }}
        </button>
      </li>
      <li>
        <button (click)="selectOrganizationListKVMs(organization)">
          Select {{ organization.organization }} and list KeyValueMaps
        </button>
      </li>
      <li>
        <button (click)="selectOrganizationListEnvironments(organization)">
          Select {{ organization.organization }} and list environments
        </button>
      </li>
      <li>
        <button (click)="selectOrganizationListAPIs(organization)">
          Select {{ organization.organization }} and list APIs
        </button>
      </li>
    </ul>
  </li>
  } @empty { No organizations found. }
</ul>
